.main-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 30px;
}


.tituloMainContent{
    text-align: center;
    color: white;
    background-color: rgba($color: #188afc, $alpha: 0.8);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 10px;
    font-family: Roboto,sans-serif;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 28px -4px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 10px 28px -4px rgba(0,0,0,0.29);
    box-shadow: 0px 10px 28px -4px rgba(0,0,0,0.29);
}

.textoContent{
    text-align: center;
}
.hoverMain{
    color:white;

}

.hoverMain:hover{
    color: black;
}

.listadoMainContent{
    padding-top: 80px;
    width: 100%;
    // background-color: saddlebrown;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonMainContent{
    font-family: Roboto,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    background-color:#188afc ;
    color: white;
    -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.33);
}

.buttonMainContent:hover{
    background-color: white ;
    border: 2px solid #188afc;
    color: #188afc;
    -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0);
    box-shadow: 0px 10px 23px 0px rgba(0,0,0,0);
}